{% extends "index.html" %} {% block content %}
<div class="container">
    <section>
        <h2> {{ term.name }} </h2>
    </section>
    <div class="posts">
        {% for page in term.pages %}
        <section>
            <a class='header-link' href="{{ page.path }}">
                <h3 class="title"> {{ page.title }} </h3>
            </a>
            <p>
                <a href="{{ page.path }}">{{ page.description | safe | striptags | truncate }}</a>
            </p>
            <div class='info'>
                {% if page.date %}
                <span>{{ page.date | date(format="%d %B %Y") }}</span>
                {% endif %}
                <span class='divider' />
                <span>{{ page.reading_time }} minute read</span>
                {% for tag in page.taxonomies.tags %}
                <span class='divider' />
                <span>{{tag}}</span>
                {% endfor %}
                {% for author in page.taxonomies.authors %}
                <span class='divider' />
                <span>by {{author}}</span>
                {% endfor %}
            </div>
        </section>
        <hr /> {% endfor %}
    </div>
</div>
{% endblock content %}