{% extends "feather/templates/page.html" %}
{% block extra_head %}
<script data-goatcounter="https://konzeptwtf.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
{% endblock extra_head %}

{% block content %}
<div class='container'>
    <section class="post">
        <div class="title-and-info">
            <h2>{{ page.title }}</h2>
            <!-- <p>{{ page.description | safe | striptags | truncate }}</p> -->
            <div class='info'>
                {% if page.date %}
                <span>{{ page.date | date(format="%d %B %Y") }}</span>
                {% endif %}
                <span class='divider' />
                <span>{{ page.reading_time }} minute read</span>
                {% for tag in page.taxonomies.tags %}
                <span class='divider' />
                <span>{{tag}}</span>
                {% endfor %}
                {% for author in page.taxonomies.authors %}
                <span class='divider' />
                <span>by {{author}}</span>
                {% endfor %}
            </div>
        </div>
        <article>
            {{ page.content | safe }}
        </article>
    </section>

    {% if config.extra.feather_disqus_code %}
    {{ config.extra.feather_disqus_code | safe }}
    {% endif %}

</div>
{% endblock content %}